/llm_testbed/extracted_frames
llm_testbed/00151_H_A_BY_C1.mp4
llm_testbed/00151_H_A_BY_C1.converted.mp4
/llm_testbed/llama_cpp_qwenvl_build
llm_testbed/이미지 모델중에서 기깔난 모델 찾음 .hwp
llm_testbed/Qwen2.5-VL-3B-Instruct-q4_0.gguf
